<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <title>Checklists To Go</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="lib/FontAwesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/theme.css">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">

    <style type="text/css">
        .content{
            margin-left:0px;
        }
        .container{
            margin-left:0px;
            text-align: left;
        }
        .checkedClass {
        text-decoration: line-through;
        }
    </style>

    <script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js">
    </script>
    <script src="https://cdn.firebase.com/v0/firebase.js"></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>

</head>
  
<body ng-controller="listController">
  
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-reorder"></span>
          </button>
          <a class="navbar-brand" href="index.html">Checklists 2 Go</a>
        </div>
  
        <div class="hidden-xs">
                <ul class="nav navbar-nav pull-right">
                    
                    <li class="hidden-phone"><a href="#" role="button">Settings</a></li>
                    <li id="fat-menu" class="dropdown">
                        <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i> <span id="username">Maria</span>
                            <i class="icon-caret-down"></i>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" href="#">My Account</a></li>
                            <li class="divider"></li>
                            <li><a tabindex="-1" class="visible-phone" href="#">Settings</a></li>
                            <li class="divider visible-phone"></li>
                            <li><a tabindex="-1" href="sign-in.html">Logout</a></li>
                        </ul>
                    </li>
                    
                </ul>
        </div> <!--/.navbar-collapse -->
    </div>

    <div class="navbar-collapse collapse">
        <div id="main-menu">     
            <div id="phone-navigation" class="visible-xs">
                <ul id="dashboard-menu" class="nav nav-list">              
                <li class=""><a href="#"> <span>Home</span></a></li>
                <li class=""><a href="#" ><span>New List</span></a></li>
                <li class=""><a href="#" ><span>Goto List</span></a></li>                          
                </ul>
            </div>

            <ul class="nav nav-tabs hidden-xs">
                <li class="active"><a href="#"> <span>Home</span></a></li>
                <li ><a href="#" ><span>New List</span></a></li>
                <li ><a href="#" ><span>Goto List</span></a></li>        
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <br>
    <form class="form-inline" role="form" ng-submit="addList()">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="<checklist name>" ng-model="new_list" >
        </div>  
        <button type="submit" class="btn btn-primary" >Rename Checklist </button>   
    </form> 
    <br>    
     <form class="form-inline" role="form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="<email address here>" ng-model="new_person" >
        </div>  
        <button type="submit" class="btn btn-success" >Send Checklist </button>
    </form> 
    <br>
</div>

<div class="container">
   <form class="form-inline" role="form" ng-submit="addItem()">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="<new item here>" ng-model="new_item">   
             </div>
            <button type="submit" class="btn btn-warning" >Add Item </button> 
    </form>
    
    <div class="row">
        <div class="col-lg-4">
            <h2>{{ listtitle }} checklist </h2> 
            <ul class="list-unstyled">
                <li ng-repeat="item in list" 
                    ng-class="{'checkedClass': item.isChecked}">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="item.isChecked"> 
                            <span>
                            {{ item.linetext }}
                            </span>
                        </label>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<br>

        <footer>
            <hr>
            <p class="pull-right">Built by <a href="#" target="_blank">Me</a></p>
            <p>&copy; 2013 <a href="#">wisemosaics.com</a></p>
        </footer>
          
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip({animation:false});
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>

    <script type="text/javascript">
            function listController($scope){
                // var dbNum = Math.uuid(6, 10); ???
                dbNum = "";
                var dbName = "https://wisemosaics" + dbNum + ".firebaseio.com/";
                var listFirebaseDB = new Firebase(dbName);
                $scope.listtitle = "";
                $scope.list = [];
                // console.log("start controller. list has " + $scope.list.length ) ;
                $scope.new_item = "";
                $scope.addList = function(){
                    /* this saves the list name for later use */
                    $scope.listtitle = $scope.new_list ;
                    $scope.new_list= "";
                };
                $scope.addItem = function(){
                    /* this function is triggered when new item is submitted. 
                    It appends the item to the list, unchecked by default */
                // $scope.list.push({isChecked : false, linetext : $scope.new_item});
                // console.log("addItem, before firebase push - list has " + $scope.list.length ) ;
                    listFirebaseDB.push({isChecked: false, linetext : $scope.new_item});
                //  console.log("addItem, after firebase push - list has " + $scope.list.length ) ;
                    $scope.new_item = "";
                };
                listFirebaseDB.on('child_added', function(snapshot) {
                    /* whenever any other ruser adds an item to this list, 
                    it gets added to local list array */
                    var alienItem = snapshot.val();
                //  console.log("child added, before list push - list has " + $scope.list.length ) ;
                    $scope.list.push({isChecked : alienItem.isChecked, linetext : alienItem.linetext});
                //  console.log("child added, after list push - list has " + $scope.list.length ) ;
                });
                listFirebaseDB.on('child_changed', function(snapshot) {
                    /* whenever a user changes items on list, what? 
                    var changedItem = snapshot.val();
                    var index = $scope.list.indexOf(changedItem);
                    if (index > -1) {
                        /* found item that was changed? maybe update $scope.list with changedItem?
                        $scope.list.push({isChecked : changedItem.isChecked, linetext : changedItem.linetext});
                    }
                    */
                });
            }
    </script>
    
</body>
</html>


